---
# tasks file for roles/common
- name: Install EPEL for extra packages
  dnf:
    name: epel-release
    state: present

- name: Install Python MySQL module
  dnf:
    name: python3-PyMySQL
    state: present

- name: Install common services and tools
  dnf:
    name:
      - chrony
      - firewalld
      - sl
      - tree
      - node_exporter
      - fail2ban
      - cockpit
    state: present

- name: Start and enable common services
  service:
    name: "{{item}}"
    state: started
    enabled: yes
  loop:
    - chronyd
    - firewalld
    - node_exporter
    - fail2ban
    - cockpit.socket
	
- name: Open required ports in firewalld
  firewalld:
    port: "{{ item }}" 
    permanent: yes
    state: enabled
  loop:
    - 9100/tcp # Node exporter port
    - 9090/tcp # Cockpit port
  notify: Reload firewalld

- name: Update all packages
  dnf:
    name: "*"
    state: latest
    update_cache: yes
